$color: #00C666;
$color-accent: #009D66;
$color-active: #05CE7C;
$color-inactive: #F2F2F2;
$color-background: #fff;
/* colors 
#05CE7C, #DFF299, #00C666, #00AF66, #009D66, #F2F2F2 
*/
.App {
  text-align: center;
}
html, body {
  background-color: $color-background;
}
.App-container {
  background-color: $color-background;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-countdown {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 2vw;
  margin: 10px;
  .CircularProgressbar-path {
    stroke: $color-active;
    stroke-linecap: butt;    
    // transition: stroke-dashoffset 1s linear 0s;
  }
  .CircularProgressbar-trail {
    stroke: $color-inactive;
  }
  .CircularProgressbar-text {
    fill: $color-accent;
    font-size: 2.2em;
    font-weight: 600;
  }
}

.App-header {
  color: $color-accent;
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 800;
  margin-bottom: 40px;
  @media (min-width: 768px) {
    font-size: 120px;
  }
}

